PORT=3001
# Configurações de E-mail (Exemplo Gmail)
EMAIL_USER=
EMAIL_PASS=
EMAIL_RECEIVER=

# WhatsApp (Simulação ou API Externa como Evolution ou WPPConnect)
# Por enquanto usaremos um log, mas preparei para integração.
WHATSAPP_NUMBER=
